﻿@{
  ViewBag.Title = "Home Page";
  Html.EnableClientValidation(true);
  Html.EnableUnobtrusiveJavaScript(true);
}
<script>
  $(document)
    .ready(function() {
      $('#CsvFile')
        .change(function() {
          if (this.files && this.files[0]) {
            $('#csvFileName').val(this.files[0].name);
          }
        });
    })

</script>
<div class="row">
  <div class="col-md-4">

    @using (Html.BeginForm("ProcessCsvFile", "Home", FormMethod.Post, new {enctype = "multipart/form-data"}))

    {
      Html.EnableClientValidation(true);
      Html.ValidationSummary(true);
      <div class="input-group">
        <label for="file">Upload CSV</label>
        <input type="file" name="file" id="CsvFile"/>
      </div>

      <button type="submit" class="btn btn-primary" style="margin-top: 40px;">Process CSV</button>
    }
    
  </div>
</div>